@use '../custom' as *;

.buy {
    overflow: hidden;


    &-info {
        background-color: $gray-200;
        padding: 0;

        @media (min-width:768px) {
            padding: 2rem;
        }
        
        &-shipping {
            max-width: 100%;

            &-location {
                margin: 0 auto;

                &-icon {
                    color: rgba($info, 0.75);
                    font-size: 3rem;
                    margin: 0 auto;

                    @media (min-width:768px) {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                &-data {
                    margin: 0 auto;
                    text-align: center;
                }
            }


            &-kind {
                &-address {
                    width: 90%;
                    background-color: $white;
                    border: 1px solid $gray-400;
                    border-left: 4px solid $secondary;
                    border-radius: 5px;
                    padding: 2rem 2.5rem;
                    max-height: 10rem;
                    margin: .5rem auto;

                    @media (min-width:576px) {
                        max-height: 8rem;
                    }
                    .img-payments {
                        width: 30px;
                        height: 30px;
                        margin: 1rem;
                    
                        @media (min-width: 768px) {
                            margin: 0 .2rem;
                        }
                    
                        @media (min-width: 992px) {
                            margin: 0 .5rem;
                        }
                    
                        @media (min-width: 1200px) {
                            margin: 0 1rem;
                        }
                    }
                }
            }

            &-btn-cont {
                width: 50%;

                @media (min-width:768px) {
                    width: 25%;
                }
            }
        }
    }

    &-conf {
        width: 100%;
        height: 430px;
        margin-top: 3rem;
        padding: 1rem;
        border: 1px solid rgba($secondary, 0.7);
        border-radius: 5px;

        @media (min-width:768px) {
            position: sticky;
            top: 15%;
            left: 100%;
            margin: 0;
            height: 430px;
        }

        &-sep-large {
            width: 100%;
            color: $secondary;
        }

        &-sep-md {
            width: 75%;
            color: $secondary;
            margin: 0.3rem auto;
        }

        &-prods {
            display: inline-block;
            width: 90%;
            margin: 1rem auto;
            position: relative;

            &-amount {
                position: absolute;
                left: 0;
                font-weight: 400;
            }

            &-price {
                position: absolute;
                left: 80%;
                font-weight: 600;
                color: $price;
            }

            &-total {
                position: absolute;
                left: 0;
                font-weight: 500;
                font-size: 1.2rem;

                &-price {
                    position: absolute;
                    left: 57%;
                    min-width: 100px;
                    font-weight: 700;
                    font-size: 1.3rem;
                    color: $price;
                }
            }
        }
    }
}

#form-checkout {
    .container-card {
        height: 2rem;
        display: inline-block;
        border: 1.5px solid rgba($secondary, 0.7);
        border-radius: 3px;
        padding: 1px 2px;
    }
}

#finish-payment{
    
    .finished-block {
        margin: .5rem auto;
        width: 99%;
        border-radius: 5px;
        @media (min-width: 768px) {
            width: 80%;
            margin: 1.5rem auto;
        }
        &-content{
            &-prods{
                margin: 10px 0 !important;
                padding: 0 !important;
                .img-prod {
                    max-width: 100%;
                    max-height: 3rem;
                }
                .name-prod{
                    display: inline-block;
                    font-size: .9rem;
                    vertical-align: middle;
                    margin: 0 !important;

                }
                .price-prod{
                    max-width: 100%;
                    color: $success-color;
                    font-size: .9rem;
                }
            }
            &-shipping {
                margin: 10px 0 !important;
                padding: 0 !important;
                .indicators{
                    color: $gray-700;
                    font-size: .9rem;
                }
                .values{
                    font-size: .9rem;
                }
            }
            &-summary{
                margin: 10px 0 !important;
                padding: 0 !important;
                .indicators {
                    color: $gray-800;
                    font-size: .9rem;
                }
                .total-paid{
                    color: $success-color;
                    font-size: 1rem;
                    font-weight: 700;
                }
            }
        }
        &.approved {
            border: 1px solid $price;
            .finished-block-header {
                background-color: $success-color;
                color: $white;
            }
        }
        
        &.pending {
            border: 1px solid rgb(255, 196, 0);
            .finished-block-header {
                background-color: rgb(255, 196, 0);
                color: $white;
            }
        }
        
        &.denied {
            border: 1px solid rgb(128, 0, 0);
            .finished-block-header {
            background-color: rgb(128, 0, 0);
            color: $white;
            }
        }
           
    }
}

.stop-payment{
    width: 90%;
    margin: 1rem auto;
    background-color: rgba($secondary, 0.2);
    color: $white;
    border: 2px solid rgba($primary, .7);
    border-radius: 7px;
    box-shadow: 0px 0px 200px 51px rgba($white, 1);
        -webkit-box-shadow: 0px 0px 200px 51px rgba($white, 1);
        -moz-box-shadow: 0px 0px 200px 51px rgba($white, 1);
    &-icon{
        margin: 0;
        padding: 0;
        font-size: 3.5rem;
        color: rgb(204, 0, 0);
    }
}

.disclaimer-container{
    max-width: 90%;
    background-color: rgba($secondary, 0.5);
    color: $primary;
    margin: 1rem auto;
    border: 1px solid $primary;
    border-radius: 5px;
    .warning-icon{
        margin: 0;
        padding: 0;
        font-size: 3.5rem;
        width: auto;
        margin: 0 auto;
        color: rgb(204, 0, 0);
    }
}

#TrackMoveModal{
    .modal-header {
        background-color: rgb(71, 69, 63) !important;
        color: $white !important;
        justify-content: left;
    }
    .modal-body {
    
        i {
            color: rgb(131, 124, 107);
    
            &.active {
                color: $price !important;
                
            }
            &.pending{
                color: rgb(255, 187, 0)!important;
            }
            &.denied{
                color: $secondary !important;
            }
        }
    
        .vl {
            width: 5px;
            height: 60px;
            margin: 0 auto;
            background-color: rgb(131, 124, 107);
    
            border-radius: 2px;
    
            &.active {
                border: none;
                background-color: $price !important;
            }
        }
    }
} 

