@use '../custom' as *;
@use '../components/mixins' as *;

.footer {
    background: $secondary;
    background: linear-gradient(180deg, $secondary 0%, $primary 100%);
    color: $white;
    margin-top: 2rem;
    box-shadow: 1px -3px 5px 0px rgba($primary, 0.79);
    -webkit-box-shadow: 1px -3px 5px 0px rgba($primary, 0.79);
    -moz-box-shadow: 1px -3px 5px 0px rgba($primary, 0.79);
    position: absolute;
    bottom: 0;
    height: 580px;
    width: 100%;
    @media (min-width: 563px) {
        height: 510px;
    }
    
    @media (min-width: 768px) {
        height: 425px;
    }
    @media (min-width: 992px){
        height: 400px;
    }
    &-bottom {
        padding: 1rem 0;
        background-color: $primary;
        position: absolute;
        bottom: 0;
        width: 100%;
        &-copyright {
            color: $gray-500;
        }
    }

    &-icons {
        color: $gray-500;
        text-decoration: none;

        &:hover {
            color: $white;
        }

        small {
            font-size: 0.8rem;
        }
    }

    &-content-services {
        padding: 0;

        &-products {
            padding: 0;

            ul.list-products {
                list-style: none;

                li {
                    margin-bottom: .5rem;
                    padding: 0;
                    font-size: 0.75rem;

                    a {
                        color: $gray-500;

                        &:hover {
                            color: $white;
                        }
                    }

                    @include media-breakpoint-up(md) {
                        margin-bottom: 1.5rem;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}