@use '../custom' as *;
@use '../components/mixins' as *;
@use '../components/animations' as *;


.profile-all {
    @include woodGradientTrans;
    margin-top: 1rem;
    border-radius: 5px;
}

.img-container {
    overflow: hidden;
    padding: 1rem;
}

.img-profile {
    width: 7rem;
    height: 7rem;
    background-size: contain;
    overflow: hidden;
    background-position: center center;
    border-radius: 50%;


    @media (min-width: 768px) {
        width: 10rem;
        height: 10rem;
    }
}

.type-card {
    display: inline;

    .img-cards {
        width: 30px;
        height: 30px;
    }
}


.upd-profile-img {

    margin: 1rem auto;
    height: 12rem;
    position: relative;

    .upd-profile-img-preview {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        background: url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
        background-color: $white;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: inline-block;
        box-shadow: 0px 3px 6px 2px rgba($primary, 0.2);

        @media (min-width: 768px) {
            width: 15rem;
            height: 15rem;
        }
    }

    .upd-profile-img-border {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: 1px solid $primary;
        animation: pulse-border 1.5s linear infinite;
        cursor: pointer;
        position: absolute;

        @media (min-width: 768px) {
            width: 4rem;
            height: 4rem;
        }

    }

    .upd-profile-img-input {
        color: $secondary;
        font-size: .7rem;
        cursor: pointer;

        @media (min-width: 576px) {
            font-size: 1.3rem;
        }
    }

    .upload-img {
        width: 0px;
        height: 0px;
        overflow: hidden;
    }
}

.img-logo-container-email{
    position: relative;
    height: 170px;
    .logo-centralize {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 4px 4px 3px 3px $secondary;
        }
}


.email-set{
    background-color: $gray-200;
}