{% extends "account/email/base_message.html" %}

{% block style-ext %}
<style>
  .text-explain {
    margin: 5px auto;
    color: rgb(39, 39, 39);
    font-size: 16px;
  }

  .text-username {
    color: black;
    font-size: 18px;
    font-weight: 500;
    width: max-content;
    margin: 0 auto;
  }

  .link-reset {
    color: rgb(0, 0, 80);
    font-size: 20px;
    margin: 5px auto;
    font-weight: 700;
    display: block;
    width: max-content;
  }

  .container-content {
    width: 100%;
  }
</style>
{% endblock style-ext %}

{% block content %}
  <div class="container-content">
    <p class="text-explain">You're receiving this e-mail because you or someone else has requested a password for your user account.
  It can be safely ignored if you did not request a password reset.</p>
    <p class="text-explain">Click the link below to reset your password.</p>
    
    <a href="{{ password_reset_url }}" class="link-reset">Reset your password</a>
  
  {% if username %}
    <p class="text-explain">In case you forgot, your username is <strong class="text-username">{{ username }}</strong>.</p>
  {% endif %}
  </div>
{% endblock content %}
