{% extends "main.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% load static %}
{% block content %}
<div class="container my-2">
    <div class="row text-center">
        <div class="img-logo-container-email">
            <img src="{% static 'assets/images/logo-icon/knife-logo.png'%}" class="logo-centralize" alt="">
        </div>
    </div>
    <div class="row text-center mt-3">
        <h1 class="display-3">{% trans "Confirm E-mail Address" %}</h1>
    </div>
    <div class="row text-center">
        {% if confirmation %}
        
        {% user_display confirmation.email_address.user as user_display %}
        
        <p class="display-7">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">
            {{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
        
        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-gradient w-50">{% trans 'Confirm' %}</button>
        </form>
        
        {% else %}
        
        {% url 'account_email' as email_url %}
        
        <p class="display-7">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}" class="link-secondary">issue a new
                e-mail confirmation request</a>.{% endblocktrans %}</p>
        
        {% endif %}
    </div>
</div>




{% endblock %}
