{% extends "main.html" %}

{% block content %}
{% load static %}
<div class="bg-nav-secondary"></div>
<div class="container text-center d-block justify-content-center">
    <div class="row">
        <h3 class="section-title my-5"> Cambiar Contraseña</h3>
    </div>
    <div class="row mb-5">
        <form action="" method="post" class="">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-8 text-center">
                    <label for="id_oldpassword" class="form-label h5 ">Contraseña actual</label>
                    <div class="input-group mb-3">
                        <input type="password" name="oldpassword" id="id_oldpassword" required
                            class="form-control border border-secondary border-3 rounded-end-0 rounded-2 text-dark"
                            placeholder="Your actual password">
                        <div class="input-group-append">
                            <span
                                class="input-group-text border border-2 border-start-0 border-secondary rounded-0 rounded-end text-muted"
                                onclick="password_show_hide(document.getElementById('id_oldpassword'), document.getElementById('show_eye1'), document.getElementById('hide_eye1'));">
                                <i class="fa-solid fa-eye h4" id="show_eye1"></i>
                                <i class="fa-solid fa-eye-slash d-none h4" id="hide_eye1"></i>
                            </span>
                        </div>
                    </div>
                    <label for="id_password1" class="form-label h5 ">Nueva contraseña</label>
                    <div class="input-group mb-3 ">
                        <input type="password" name="password1" id="id_password1" required
                            class="form-control border border-secondary border-3 rounded-end-0 rounded-2 text-dark"
                            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                            data-html="true"
                            data-bs-title="Your password can’t be too similar to your other personal information.
                            Must contain at least 8 characters. Can’t be a commonly used password. Can’t be entirely numeric."
                            placeholder="The new password do you want.">
                        <div class="input-group-append">
                            <span
                                class="input-group-text border border-2 border-start-0 border-secondary rounded-0 rounded-end text-muted"
                                onclick="password_show_hide(document.getElementById('id_password1'), document.getElementById('show_eye2'), document.getElementById('hide_eye2'));">
                                <i class="fa-solid fa-eye h4" id="show_eye2"></i>
                                <i class="fa-solid fa-eye-slash d-none h4" id="hide_eye2"></i>
                            </span>
                        </div>
                    </div>
                    <label for="id_password2" class="form-label h5 ">Confirmar nueva contraseña</label>
                    <div class="input-group mb-3">
                        <input type="password" name="password2" id="id_password2" required
                            class="form-control border border-secondary border-3 rounded-end-0 rounded-2 text-dark"
                            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                            data-html="true" data-bs-title="Repeat password to check that be equals"
                            placeholder="Repeat the your new password.">
                        <div class="input-group-append">
                            <span
                                class="input-group-text border border-2 border-start-0 border-secondary rounded-0 rounded-end text-muted"
                                onclick="password_show_hide(document.getElementById('id_password2'), document.getElementById('show_eye3'), document.getElementById('hide_eye3'));">
                                <i class="fa-solid fa-eye h4" id="show_eye3"></i>
                                <i class="fa-solid fa-eye-slash d-none h4" id="hide_eye3"></i>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 text-center my-5 me-5">
                    <br>
                    {{form.captcha}}
                    <button type="sumbit" class="btn btn-outline-primary my-5 ms-3 w-100">Confirmar cambio</button>
                    <br>
                    <a href="{% url 'account_reset_password'%}" class="link-primary">Forget password?</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content%}

{% block script-ext %}
<script src="{% static 'scripts/passwdview.js' %}"></script>
{% endblock script-ext %}