{% extends "main.html" %}

{% block content %}
<div class="bg-nav-secondary"></div>
<div class="container text-center d-block justify-content-center" style="max-width: 750px; margin: 0 auto;">
    <div class="row">
        <h3 class="home-subtitle h3 my-5"> Restablecer Constaseña</h3>

    </div>
    <div class="row mb-5">
        <form action="" method="post" class="">
            {% csrf_token %}
            <div class="row">
                <div class="mb-3 ">
                    <label for="id_password1" class="form-label h5 ">Nueva constraseña</label>
                    <div class="input-group mb-3">
                        <input type="password" name="password1" id="id_password1" required
                        class="form-control border border-secondary border-2 rounded-3 text-dark border-end-0 rounded-end-0"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                        data-html="true"
                        data-bs-title="Your password can’t be too similar to your other personal information.
                        Must contain at least 8 characters. Can’t be a commonly used password. Can’t be entirely numeric."
                        placeholder="La nueva contraseña que usted desea">
                        <div class="input-group-append">
                            <span class="input-group-text border border-2 border-start-0 border-secondary rounded-0 rounded-end text-muted"
                                onclick="password_show_hide(document.getElementById('id_password1'), document.getElementById('show_eye'), document.getElementById('hide_eye'));">
                                <i class="fa-solid fa-eye h4" id="show_eye"></i>
                                <i class="fa-solid fa-eye-slash d-none h4" id="hide_eye"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="id_password2" class="form-label h5 ">Confirmar nueva contraseña</label>
                    <div class="input-group mb-3">
                        <input type="password" name="password2" id="id_password2" required
                            class="form-control border border-secondary border-2 rounded-3 text-dark border-end-0 rounded-end-0"
                            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-html="true"
                            data-bs-title="Your password can’t be too similar to your other personal information.
                                            Must contain at least 8 characters. Can’t be a commonly used password. Can’t be entirely numeric."
                            placeholder="La nueva contraseña que usted desea">
                        <div class="input-group-append">
                            <span class="input-group-text border border-2 border-start-0 border-secondary rounded-0 rounded-end text-muted"
                                onclick="password_show_hide(document.getElementById('id_password2'), document.getElementById('show_eye1'), document.getElementById('hide_eye1'));">
                                <i class="fa-solid fa-eye h4" id="show_eye1"></i>
                                <i class="fa-solid fa-eye-slash d-none h4" id="hide_eye1"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <br>
                {{form.captcha}}
                <button type="sumbit" class="btn btn-outline-primary mb-5 ms-3 w-100">Confirmar</button>
            </div>

        </form>
    </div>
</div>

{% endblock content %}