//White to Black Gamma
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

//Custom and adding colors
$red-dark: #8a000e;
$blue: #0d31fd;
$price: rgb(0, 100, 5);
$success-color: rgba(0, 88, 26, 0.815);

$secondaryToPrimaryGradient: linear-gradient(90deg, rgba(138, 0, 14, 1) 0%, rgba(0, 0, 0, 1) 100%);
$primaryToSecondaryaryGradient: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(138, 0, 14, 1)100%);
$primary: $black;
$secondary: $red-dark;
$info: $blue;


//navbar style
$navbar-light-color: rgba($white, .75);
$navbar-light-hover-color: rgba($red-dark, 1);
$navbar-light-active-color: $white ;

$dropdown-color: rgba($white, .9);
$dropdown-link-hover-bg: rgba($red-dark, .5);

//Canvas style
$btn-close-color: $white;
// Form Check 
$form-check-input-checked-color: $white;
$form-check-input-checked-bg-color: $secondary;
$form-check-input-focus-box-shadow: null;

//Carousel 
$carousel-control-color: $secondary;
$carousel-control-opacity: .7;
$carousel-control-hover-opacity: .9;
$carousel-dark-indicator-active-bg: $secondary;

//Range Input
$form-range-track-bg: rgba($secondary, 0.7);
$form-range-thumb-bg: rgba($primary, 0.5);
$form-range-thumb-active-bg: rgba($primary, 0.7);

//Accordion 
$accordion-icon-color: $primary;
$accordion-icon-active-color: $secondary;
$accordion-button-active-bg: rgba($secondary, .2);
$accordion-button-active-color: $secondary;
$accordion-border-color: $secondary;
$accordion-button-focus-border-color: $secondary;
$accordion-button-focus-box-shadow: 0px 0px 6px 6px rgba($primary, 0.5);
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{accordion-icon-color}'><path fill-rule='evenodd' d='M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z'/><path d='M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z' /></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

//Breadcrumb
$breadcrumb-divider: quote(">");
$breadcrumb-divider-color: $white;
$breadcrumb-active-color: rgb(0, 222, 238);

//basics
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 600px;
    @media (min-width: 563px) {
        padding-bottom: 530px;
    }
    
    @media (min-width: 768px) {
        padding-bottom: 445px;
    }
    
    @media (min-width: 992px) {
        padding-bottom: 420px;
    }
}
@import '../libs/bootstrap-5.3.0/scss/bootstrap.scss'